# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# PDFs generados
*.pdf

# Entornos virtuales
env/
.venv/

# Archivos temporales
*.log
*.bak

# Archivos del sistema
.DS_Store

# Configuración de pyenv
.python-version

# Archivos de instalación y distribución
*.egg-info/
dist/
build/