# === Python ===
__pycache__/
*.py[cod]
*.pyo
*.pyd

# === PDFs generados ===
orden_de_trabajo.pdf
data/ordenes_trabajo/

# === Entornos virtuales ===
env/
.venv/

# === Archivos temporales ===
*.log
*.bak
.DS_Store

# === Configuración local de Python ===
.python-version

# === Archivos de instalación/distribución ===
*.egg-info/
dist/
build/

# === Configuración de VSCode (opcional si usas distintas máquinas) ===
.vscode/